@model devAkademi_HEnesGokdag.Models.AuctionListModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="row pt-5">
    <div class="col-md-3">

        @await Component.InvokeAsync("CategoryList")

    </div>
    <div class="col-md-9">
        <partial name="_slider" />
        @foreach (var item in Model.Auctions)
        {
            
        <div class="card mb-3">
            <div class="row no-gutter">
                <div class="col-md-3">
                    <img src="https://via.placeholder.com/150" class="card-img" />
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-action="AuctionDetails" asp-controller="Home" asp-route-id="@item.id">  @item.title</a>
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">Kategori: <a asp-controller="Home" asp-action="AuctionsByCategory" asp-route-category="@item.c0">@item.c0</a> </small>
                        </p>
                        <p class="card-text">
                            @Html.Raw(item.description.Length > 100 ? item.description.Substring(0, 100) + "..." : item.description)
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Ücret: @item.price ₺</small>
                        </p>
                        <a asp-action="AuctionDetails" asp-controller="Home" asp-route-id="@item.id" class="btn btn-primary float-right mb-2">İlana Git</a>
                    </div>
                </div>
            </div>

        </div>
             
        }
    </div>
</div>
